serverwebapp/bin/
serverwebapp/obj/
serverwebapp/tools/tailwindcss
serverwebapp/Data/*.db
serverwebapp/Data/*.db-shm
serverwebapp/Data/*.db-wal
serverwebapp/Data/*.sqlite
serverwebapp/Data/*.sqlite-shm
serverwebapp/Data/*.sqlite-wal
asa_server_controller/bin/
asa_server_controller/obj/
asa_server_controller/tools/tailwindcss
asa_server_controller/Data/*.db
asa_server_controller/Data/*.db-shm
asa_server_controller/Data/*.db-wal
asa_server_controller/Data/*.sqlite
asa_server_controller/Data/*.sqlite-shm
asa_server_controller/Data/*.sqlite-wal
serverwebapp/Data/*.sqlite3
serverwebapp/Data/*.sqlite3-shm
serverwebapp/Data/*.sqlite3-wal
asa_server_controller/bin/
asa_server_controller/obj/
appsettings.json
appsettings.Development.json
